<IfModule mod_mime.c>
 AddType application/phar .phar
 AddType application/octet-stream .zip
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

RewriteRule ^store/.*\.json$ - [F,L,NC]